app/server/data
app/.yarnclean
app/build.out.txt
app/.env.local
app/.env
app/node_modules
app/.svelte-kit/
app/build/
node_modules/.yarn-integrity
app/log.txt
app/yarn-error.log
app/.vscode/**
.vscode/**
**/Icon
.vercel
**/.yarn/**
**.d.ts
**.typegen.d.ts
**/dist/**
app/src/lib/bitcart/**
app/.favorites.json
app/.VSCodeCounter/**
Icon
app/.clinic/**
app/.nova/**
