web/server/data
web/.yarnclean
web/pouchdb/*rxdb*
web/build.out.txt
web/.env.local
web/node_modules
web/.svelte-kit/
web/build/
node_modules/.yarn-integrity
web/log.txt
web/yarn-error.log
web/.vscode/**
.vscode/**
web/src/lib/machines/callMachine.typegen.ts
web/src/lib/machines/linkMachine.typegen.ts
web/src/lib/machines/mediaToggleMachine.typegen.ts
