app/server/data
app/.yarnclean
app/pouchdb/*rxdb*
app/build.out.txt
app/.env.local
app/node_modules
app/.svelte-kit/
app/build/
node_modules/.yarn-integrity
app/log.txt
app/yarn-error.log
app/.vscode/**
.vscode/**
app/src/lib/machines/callMachine.typegen.ts
app/src/lib/machines/linkMachine.typegen.ts
app/src/lib/machines/mediaToggleMachine.typegen.ts
app/src/lib/machines/showMachine.typegen.ts
app/src/lib/machines/ticketMachine.typegen.ts
app/src/routes/sh/[id]/oldpage.svelte
**/Icon

app/src/lib/machines/showMachine.typegen.d.ts
app/src/lib/machines/ticketMachine.typegen.d.ts
.vercel
**/.yarn/**
**.d.ts
**/dist/**
