## Paths
VITE_ROOM_PATH=/r
VITE_TALENT_PATH=/t
VITE_AGENT_PATH=/a
VITE_MOBILE_PATH=/m
VITE_API_PATH=/api/v1
VITE_AUTH_PATH=/api/v1/auth
VITE_PHOTO_UPDATE_PATH=/api/v1/photo
VITE_PCALL_URL=https://pcall.app

# UI
VITE_CALL_TIMEOUT=30000
VITE_DEFAULT_PROFILE_IMAGE=/profile/default.png
VITE_PROFILE_IMAGE_PATH=/profile

# RXDB
VITE_RXDB_PASSWORD=chachachacha

# CouchDB
VITE_CREATORS_ENDPOINT=https://couchdb1.pcall.app/creators


# Workflow
VITE_GRACE_PERIOD=900000
VITE_ESCROW_PERIOD=3600000
