@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../node_modules/npm-font-caviar-dreams/caviar-dreams';

@layer components {
  .daisy-btn {
    font-family: 'Space Grotesk';
  }
  .select {
    font-family: 'Space Grotesk';
  }
  .input {
    font-family: 'Space Grotesk';
  }
  .tab {
    font-family: 'Space Grotesk';
  }
}
